@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.texto label {
  color: rgb(94, 122, 125);
}

fieldset div:has(input) {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number] {
  -webkit-appearance: none;
  appearance: inherit;
  -moz-appearance: textfield;
}