@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

/* .fondo {
  background-color: hsl(185, 41%, 84%);
} */

.texto label {
  color: rgb(94, 122, 125);
}

fieldset div:has(input) {
  position: relative;
}